.aboutus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8rem 4.5rem;
    width: 100%;
    max-width: 1500px;

    .ab-image{
        width: 45%;
        object-fit: cover;
        height: auto;
    }

    .ab-text{
        .ab-header{
            font-size: $title-font-size;
            color: $accent-color;
            margin-bottom: 5rem;
        }

        .ab-body{
            font-size: $body-font-size;
            color: $fontcolor-whitescreen;
            width: 40ch;
            letter-spacing: 0.125rem;
            line-height: 1.7;
        }

    }
}

@media screen and (max-width: 1150px){
    .aboutus{
        flex-direction: column;
        align-items: center;
        .ab-image{
            width: 80%;
        }

        .ab-text{
            .ab-header{
                margin-top: 5rem;
            }
            .ab-body{
                width: 48ch;
            }
        }
    }
}

@media screen and (max-width: 2560px){
    .aboutus{
    margin: 0 auto;
    }
}

@media screen and (max-width: 425px){
    .aboutus{
        padding: 3rem 3rem;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        .ab-image{
            margin-left: auto;
            margin-right: auto;
        }
        .ab-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            .ab-header{
            }
            .ab-body{
                width: 30ch;
            }
        }
    }
}

@media screen and (max-width: 320px){
    .aboutus{
        .ab-text{
            .ab-body{
                width: 25ch;
            }
        }
    }
}