.cards{
    padding: 15rem 4rem;
    background-color: $primary-color;
    box-shadow: 0 0px 5px 1.5px #0f0f0f;
    display: flex;
    -webkit-display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1500px;

    .card{
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        background-color: #222222;
        padding: 4rem;
        &:hover{
            box-shadow: 0 0px 10px 2.5px #0f0f0f;
        }
        .card-picture{
            max-height: 30rem;
            width: 30rem;
            object-fit: cover;
            -webkit-object-fit: cover;
            margin-top: 2rem;
        }

        .card-text{
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .card-header{
                font-size: $title-font-size;
                color: $accent-color;
                margin: 2.5rem 0;
            }

            .card-body{
                font-size: $body-font-size;
                color: $fontcolor-blackscreen;
                width: 20ch;
                letter-spacing: 0.125rem;
                line-height: 1.5;
                text-align: center;
            }
        }

    }
}

@media screen and (max-width: 2560px){
    .cards{
        margin: 0 auto;
    }

}

@media screen and (max-width: 974px){
    .card{
        margin-top: 5rem;
    }
}

@media screen and (max-width: 539px){
    .cards{
        flex-wrap: nowrap;
        flex-direction: column;    
    }
    .card{
        display: flex;
        flex-direction: column;
        .card-picture{
            padding: 4rem;
            width: 100%;
        }
        .card-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            .card-body{
                width: 25ch !important;
            }
        }
    }
}