.cards{
    padding: 5rem 4rem;
    background-color: $primary-color;
    display: flex;
    -webkit-display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;

    .card{
        display: inline-flex;
        flex-direction: column;
        .card-picture{
            width: 100%;
            max-height: 35rem;
            object-fit: cover;
            -webkit-object-fit: cover;
            margin-top: 5rem;
        }

        .card-text{
            margin-left: 1rem;
            .card-header{
                font-size: $title-font-size;
                color: $accent-color;
                margin: 5rem 0;
            }

            .card-body{
                font-size: $body-font-size;
                color: $fontcolor-blackscreen;
                width: 20ch;
                letter-spacing: 0.125rem;
                line-height: 1.5;
            }
        }

    }
}

@media screen and (max-width: 2560px){
    .cards{
        margin: 0 auto;
    }

}

@media screen and (max-width: 425px){
    .cards{
        flex-wrap: nowrap;
        flex-direction: column;    
    }
    .card{
        display: flex;
        flex-direction: column;
        .card-picture{
            padding: 4rem;
        }
        .card-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            .card-body{
                width: 25ch !important;
            }
        }
    }
}