main{
    .jumbotron{
        background-color: $primary-color;
        position: relative;
        max-width: 1500px;

    .video{
        width: 100%;
        transform: rotateY(180deg);
    }

    .callout-container--blackscreen{
        top:0;
        position: absolute;
        background-color: $primary-color;
        opacity: 85%;
        height: 100%;
        width: 50%;
    }

    .callout-container{
        position: absolute;
        top: 10rem;
        left: 6rem;
        

        .callout{
            font-size: $callout-font-size;
            color: $accent-color;
        }

        .info-text{
            font-size: $body-font-size;
            color: $fontcolor-blackscreen;
            width: 30ch;
            margin-top: 5rem
        }

        .callout-btn{
            font-size: $body-font-size;
            color: #000000;
            padding: 1rem 4rem;
            border: 1px solid $secondary-color;
            border-radius: $base-border-radius;
            margin-top: 5rem;
            background-color: $secondary-color;
            cursor: pointer;
        }
    }


    }
}

@media screen and (max-width: 1150px){

}

@media screen and (max-width: 2560px){
    .jumbotron{
        margin: 0 auto;
    }

}

@media screen and (max-width: 425px){
    main{
        .jumbotron{
            .callout-container--blackscreen{
                min-width: 100%;
                .callout-container{
                    position: absolute;
                    top: 12rem;
                    left: 25%;
                    min-width: 100%;
                    .callout{
                        width: 300px;
                        
                    }
                    .info-text{
                        display: none;
                    }
    
                    .callout-btn{
                        position: absolute;
                        left: 10%;
                    }
                }
            }  
        }    
    }
    }

@media screen and (max-width: 320px){
    main{
        .jumbotron{
            .callout-container--blackscreen{
                .callout-container{
                    top: 8rem;
                }
            }

        }
    }
}

