@font-face {
  font-family: "perspective_sansregular";
  src: url("/assets/fonts/perspectivesans-regular-webfont.woff2") format("woff2"), url("/assets/fonts/perspectivesans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "perspective_sansitalic";
  src: url("/assets/fonts/perspectivesans-italic-webfont.woff2") format("woff2"), url("/assets/fonts/perspectivesans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "perspective_sansbold";
  src: url("/assets/fonts/perspectivesans-bold-webfont.woff2") format("woff2"), url("/assets/fonts/perspectivesans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "perspective_sansregular", sans-serif;
}

.logo-text {
  font-family: "perspective_sansregular";
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #F5F5F5;
}

img {
  max-width: 100%;
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 50%;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 425px) {
  html {
    font-size: 45%;
  }

  body {
    overflow-x: hidden;
  }
}
header.sticky {
  position: fixed;
  top: 0;
  z-index: 20;
}

header {
  width: 100%;
  background-color: #1B1C1E;
  padding: 0.75rem 4.5rem;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
}
header .navbar .logo__container {
  display: flex;
  align-items: center;
}
header .navbar .logo__container .logo {
  object-fit: cover;
  height: 5rem;
}
header .navbar .logo__container .logo__text {
  font-family: "perspective_sansregular", sans-serif;
  font-size: 4.6rem;
  color: #3B96D1;
  letter-spacing: 0.25rem;
  margin-top: 1rem;
}
header .navbar ul {
  display: flex;
  align-items: center;
}
header .navbar ul li {
  margin-right: 5rem;
  justify-self: flex-end;
}
header .navbar ul li:last-child {
  margin-right: 0;
}
header .navbar ul li a {
  color: #F5F5F5;
  font-size: 1.4rem;
  letter-spacing: 0.25rem;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-top: 1rem;
}
.hamburger .line1 {
  width: 25px;
  height: 3px;
  background-color: #EE7D54;
  margin: 5px;
  border-radius: 8px;
  transition: 0.3s ease;
}
.hamburger .line2 {
  width: 16px;
  height: 3px;
  background-color: #EE7D54;
  margin: 5px;
  border-radius: 2px;
  transition: 0.3s ease;
}
.hamburger .line3 {
  width: 8px;
  height: 3px;
  background-color: #EE7D54;
  margin: 5px;
  border-radius: 2px;
  transition: 0.3s ease;
}

.toggle .line1 {
  width: 25px;
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  width: 25px;
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 2560px) {
  header nav {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1150px) {
  .nav__links {
    position: absolute;
    right: 0px;
    height: 100vh;
    position: fixed;
    top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    background-color: #1B1C1E;
    transform: translateX(100%);
    transition: transform 500ms ease-in;
    padding: 2em 7em 10em 7em;
    z-index: 5;
  }
  .nav__links li {
    opacity: 0;
    width: 40ch;
    margin: auto;
  }

  .navbar .hamburger {
    display: block;
    z-index: 6;
  }

  .nav-active {
    transform: translateX(0%);
  }

  .display-off {
    display: none;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translate(50px);
    }
    to {
      opacity: 1;
      transform: translate(0px);
    }
  }
}
@media screen and (max-width: 450px) {
  .nav__links {
    width: 50%;
  }
  .nav__links li {
    margin: auto auto;
  }

  .navbar .logo__container .logo__text {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .nav__links {
    width: 60%;
  }
}
main .jumbotron {
  background-color: #1B1C1E;
  position: relative;
  max-width: 1500px;
}
main .jumbotron .video {
  width: 100%;
  transform: rotateY(180deg);
}
main .jumbotron .callout-container--blackscreen {
  top: 0;
  position: absolute;
  background-color: #1B1C1E;
  opacity: 0.85;
  height: 100%;
  width: 50%;
}
main .jumbotron .callout-container {
  position: absolute;
  top: 10rem;
  left: 6rem;
}
main .jumbotron .callout-container .callout {
  font-size: 4.6rem;
  color: #EE7D54;
}
main .jumbotron .callout-container .info-text {
  font-size: 2.2rem;
  color: #F5F5F5;
  width: 30ch;
  margin-top: 5rem;
  line-height: 1.7;
  letter-spacing: 0.125rem;
}
main .jumbotron .callout-container .callout-btn {
  font-size: 2.2rem;
  color: #000000;
  padding: 1rem 4rem;
  border: 1px solid #00D296;
  border-radius: 2.5rem;
  margin-top: 5rem;
  background-color: #00D296;
  cursor: pointer;
}
main .jumbotron .callout-container .callout-btn:hover {
  background-color: #1B1C1E;
  color: #00D296;
}

@media screen and (max-width: 1150px) {
  main {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 2560px) {
  .jumbotron {
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  main .jumbotron .callout-container--blackscreen {
    min-width: 100%;
  }
  main .jumbotron .callout-container--blackscreen .callout-container {
    position: absolute;
    top: 12rem;
    left: 25%;
    min-width: 100%;
  }
  main .jumbotron .callout-container--blackscreen .callout-container .callout {
    width: 300px;
  }
  main .jumbotron .callout-container--blackscreen .callout-container .info-text {
    display: none;
  }
  main .jumbotron .callout-container--blackscreen .callout-container .callout-btn {
    position: absolute;
    left: 10%;
  }
}
@media screen and (max-width: 320px) {
  main .jumbotron .callout-container--blackscreen .callout-container {
    top: 8rem;
  }
}
@media screen and (max-width: 750px) {
  main .jumbotron .callout-container--blackscreen {
    width: 60%;
  }
  main .jumbotron .callout-container .callout {
    width: 300px;
  }
  main .jumbotron .callout-container .info-text {
    display: none;
  }
}
.aboutus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8rem 4.5rem;
  width: 100%;
  max-width: 1500px;
}
.aboutus .ab-image {
  width: 45%;
  object-fit: cover;
  -webkit-object-fit: cover;
  height: auto;
}
.aboutus .ab-text .ab-header {
  font-size: 4.4rem;
  color: #EE7D54;
  margin-bottom: 5rem;
}
.aboutus .ab-text .ab-body {
  font-size: 2.2rem;
  color: #5E6065;
  width: 40ch;
  letter-spacing: 0.125rem;
  line-height: 1.7;
}

@media screen and (max-width: 1150px) {
  .aboutus {
    flex-direction: column;
    align-items: center;
  }
  .aboutus .ab-image {
    width: 80%;
  }
  .aboutus .ab-text {
    margin-left: auto;
    margin-right: auto;
  }
  .aboutus .ab-text .ab-header {
    margin-top: 5rem;
  }
  .aboutus .ab-text .ab-body {
    width: 45ch;
  }
}
@media screen and (max-width: 2560px) {
  .aboutus {
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  .aboutus {
    padding: 3rem 3rem;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .aboutus .ab-image {
    margin-left: auto;
    margin-right: auto;
  }
  .aboutus .ab-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutus .ab-text .ab-body {
    width: 30ch;
  }
}
@media screen and (max-width: 320px) {
  .aboutus .ab-text .ab-body {
    width: 25ch;
  }
}
.cards {
  padding: 5rem 4rem;
  background-color: #1B1C1E;
  display: flex;
  -webkit-display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
}
.cards .card {
  display: inline-flex;
  flex-direction: column;
}
.cards .card .card-picture {
  max-height: 35rem;
  object-fit: cover;
  -webkit-object-fit: cover;
  margin-top: 5rem;
}
.cards .card .card-text {
  margin-left: 1rem;
}
.cards .card .card-text .card-header {
  font-size: 4.4rem;
  color: #EE7D54;
  margin: 5rem 0;
}
.cards .card .card-text .card-body {
  font-size: 2.2rem;
  color: #F5F5F5;
  width: 20ch;
  letter-spacing: 0.125rem;
  line-height: 1.5;
}

@media screen and (max-width: 2560px) {
  .cards {
    margin: 0 auto;
  }
}
@media screen and (max-width: 539px) {
  .cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
  .card .card-picture {
    padding: 4rem;
    width: 100%;
  }
  .card .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card .card-text .card-body {
    width: 25ch !important;
  }
}
.slideshow__package {
  padding: 3rem 6rem;
  display: block;
  max-width: 1500px;
}

/* Slideshow container */
.slideshow-container {
  padding-top: 5rem;
  width: 20%;
  position: relative;
  right: -5rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
  padding: 1rem;
}

.dots {
  text-align: center;
}

.side__text {
  position: absolute;
  top: 5rem;
  right: -80rem;
}
.side__text .st__header {
  font-size: 4.4rem;
  color: #EE7D54;
  letter-spacing: 0.25rem;
  margin-bottom: 5rem;
}
.side__text .st__body {
  font-size: 2.2rem;
  color: #5E6065;
  letter-spacing: 0.125rem;
  width: 35ch;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #EE7D54;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: -35px;
}

/* Position the "next button" to the right */
.next {
  right: -35px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  transform: scale(1.1);
}

/* Caption text */
.text {
  color: #EE7D54;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f5f5f5;
  border-radius: 50%;
  border: 2px solid #EE7D54;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active1, .dot:hover {
  background-color: #EE7D54;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1150px) {
  .slideshow__package {
    padding: 5rem 1rem;
    display: block;
  }

  .slideshow-container {
    margin: 0 auto;
  }

  .side__text {
    position: relative;
    left: -80%;
    top: -5rem;
  }

  .st__header {
    width: 35ch;
  }

  .dots {
    position: relative;
    left: 5rem;
  }

  .text {
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .prev {
    position: relative;
    top: -25rem;
  }

  .next {
    position: relative;
    top: -25rem;
    right: -11rem;
  }
}
@media screen and (max-width: 2560px) {
  .slideshow__package {
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .slideshow__package {
    padding: 1rem 1rem;
  }
  .slideshow__package .slideshow-container {
    width: 30%;
  }
  .slideshow__package .mySlides .side__image {
    position: relative;
    left: -5rem;
  }
  .slideshow__package .mySlides .text {
    display: none;
  }

  .side__text {
    position: relative;
    left: -20rem;
  }
  .side__text .st__header {
    max-width: 300px;
  }
  .side__text .st__body {
    max-width: 300px;
  }

  .dots {
    display: none;
  }

  .prev {
    position: relative;
    left: -9rem;
    top: -20rem;
  }

  .next {
    position: relative;
    top: -20rem;
    right: -3rem;
  }
}
@media screen and (max-width: 320px) {
  .prev {
    position: relative;
    left: -9rem;
    top: -15rem;
  }

  .next {
    position: relative;
    top: -15rem;
    right: 1rem;
  }
}
@media screen and (width: 375px) {
  .next {
    right: -2rem;
  }
}
.slideshow__package2 {
  padding: 3rem 6rem;
  display: block;
  background-color: #1B1C1E;
  max-width: 1500px;
}

/* Slideshow container */
.slideshow-container2 {
  padding-top: 5rem;
  width: 20%;
  position: relative;
  right: -80rem;
}

/* Hide the images by default */
.mySlides2 {
  display: none;
  padding: 1rem;
}

.side__text2 {
  position: absolute;
  top: 5rem;
  right: 42rem;
}
.side__text2 .st__header2 {
  font-size: 4.4rem;
  color: #EE7D54;
  letter-spacing: 0.25rem;
  margin-bottom: 5rem;
}
.side__text2 .st__body2 {
  font-size: 2.2rem;
  color: #F5F5F5;
  letter-spacing: 0.125rem;
  width: 35ch;
}

/* Next & previous buttons */
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #EE7D54;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev2 {
  left: -35px;
}

/* Position the "next button" to the right */
.next2 {
  right: -35px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
  transform: scale(1.1);
}

/* Caption text */
.text2 {
  color: #EE7D54;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
}

.dots2 {
  text-align: center;
}

/* The dots/bullets/indicators */
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #1B1C1E;
  border-radius: 50%;
  border: 2px solid #EE7D54;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2, .dot2:hover {
  background-color: #EE7D54;
}

/* Fading animation */
.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade2 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade2 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1150px) {
  .slideshow__package2 {
    padding: 5rem 1rem;
  }

  .slideshow-container2 {
    right: 0;
    margin: 0 auto;
  }

  .side__text2 {
    position: relative;
    left: -50%;
    top: -5rem;
  }

  .st__header2 {
    width: 35ch;
  }

  .dots2 {
    position: relative;
    left: 0rem;
  }

  .text2 {
    position: relative;
  }
}
@media screen and (max-width: 2560px) {
  .slideshow__package2 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .dots2 {
    display: none;
  }

  .slideshow__package2 {
    padding: 1rem 1rem;
  }
  .slideshow__package2 .slideshow-container2 {
    width: 30%;
    position: relative;
  }
  .slideshow__package2 .slideshow-container2 .mySlides2 .side__image2 {
    position: relative;
    left: 0;
  }
  .slideshow__package2 .slideshow-container2 .mySlides2 .text2 {
    display: none;
  }

  .side__text2 {
    position: relative;
    left: -15rem;
  }
  .side__text2 .st__header2 {
    max-width: 300px;
  }
  .side__text2 .st__body2 {
    max-width: 300px;
  }

  .prev2 {
    position: relative;
    top: -19rem;
  }

  .next2 {
    position: relative;
    top: -19rem;
    right: -9rem;
  }
}
@media screen and (max-width: 320px) {
  .dots2 {
    display: none;
  }

  .slideshow__package2 {
    padding: 1rem 1rem;
  }
  .slideshow__package2 .slideshow-container2 {
    width: 30%;
    position: relative;
  }
  .slideshow__package2 .slideshow-container2 .mySlides2 .side__image2 {
    position: relative;
    left: 0;
  }
  .slideshow__package2 .slideshow-container2 .mySlides2 .text2 {
    display: none;
  }

  .side__text2 {
    position: relative;
    left: -15rem;
  }
  .side__text2 .st__header2 {
    max-width: 300px;
  }
  .side__text2 .st__body2 {
    max-width: 300px;
  }

  .prev2 {
    position: relative;
    top: -16rem;
  }

  .next2 {
    position: relative;
    top: -16rem;
    right: -5rem;
  }
}
@media screen and (width: 768px) {
  .prev2 {
    top: 39rem;
  }

  .next2 {
    top: 39rem;
  }
}
.slideshow__package3 {
  padding: 3rem 6rem;
  display: block;
  max-width: 1200px;
}

/* Slideshow container */
.slideshow-container3 {
  padding-top: 5rem;
  width: 20%;
  position: relative;
  right: -5rem;
}

/* Hide the images by default */
.mySlides3 {
  display: none;
  padding: 1rem;
}

.side__text3 {
  position: absolute;
  top: 5rem;
  right: -80rem;
}
.side__text3 .st__header3 {
  font-size: 4.4rem;
  color: #EE7D54;
  letter-spacing: 0.25rem;
  margin-bottom: 5rem;
}
.side__text3 .st__body3 {
  font-size: 2.2rem;
  color: #5E6065;
  letter-spacing: 0.125rem;
  width: 35ch;
}

.dots3 {
  text-align: center;
  max-width: 100%;
}

/* Next & previous buttons */
.prev3, .next3 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #EE7D54;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev3 {
  left: -35px;
}

/* Position the "next button" to the right */
.next3 {
  right: -35px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev3:hover, .next3:hover {
  transform: scale(1.1);
}

/* Caption text */
.text3 {
  color: #EE7D54;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f5f5f5;
  border-radius: 50%;
  border: 2px solid #EE7D54;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active3, .dot3:hover {
  background-color: #EE7D54;
}

/* Fading animation */
.fade3 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade3 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade3 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1150px) {
  .slideshow__package3 {
    padding: 5rem 1rem;
    display: block;
  }

  .slideshow-container3 {
    margin: 0 auto;
  }

  .side__text3 {
    position: relative;
    left: -80%;
    top: -5rem;
  }

  .st__header3 {
    position: relative;
    width: 35ch;
    left: -7rem;
  }

  .st__body3 {
    position: relative;
    left: -7rem;
  }

  .dots3 {
    position: relative;
    left: 5rem;
  }

  .text3 {
    position: relative;
  }
}
@media screen and (max-width: 2560px) {
  .slideshow__package3 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .dots3 {
    display: none;
  }

  .text3 {
    display: none;
  }

  .prev3 {
    position: relative;
    top: -18rem;
    left: -10rem;
  }

  .next3 {
    position: relative;
    top: -18rem;
    right: -3rem;
  }

  .slideshow__package3 {
    padding: 1rem 1rem;
  }
  .slideshow__package3 .slideshow-container3 {
    width: 30%;
  }
  .slideshow__package3 .slideshow-container3 .mySlides3 .side__text3 {
    position: relative;
    left: -13rem;
  }
  .slideshow__package3 .slideshow-container3 .mySlides3 .side__text3 .st__header3 {
    max-width: 300px;
  }
  .slideshow__package3 .slideshow-container3 .mySlides3 .side__text3 .st__body3 {
    max-width: 300px;
  }
  .slideshow__package3 .slideshow-container3 .mySlides3 .side__image3 .slide__image3 {
    position: relative;
    left: -35%;
  }
  .slideshow__package3 .slideshow-container3 .mySlides3 .side__image3 .text3 {
    position: relative;
    left: -50%;
  }
}
@media screen and (max-width: 320px) {
  .slideshow__package3 {
    padding: 1rem 1rem;
  }
  .slideshow__package3 .slideshow-container3 {
    width: 30%;
  }
  .slideshow__package3 .slideshow-container3 .mySlides3 .side__text3 {
    position: relative;
    left: -13rem;
  }
  .slideshow__package3 .slideshow-container3 .mySlides3 .side__text3 .st__header3 {
    max-width: 300px;
  }
  .slideshow__package3 .slideshow-container3 .mySlides3 .side__text3 .st__body3 {
    max-width: 300px;
  }

  .prev3 {
    position: relative;
    top: -16rem;
    left: -9rem;
  }

  .next3 {
    position: relative;
    top: -16rem;
    right: -1rem;
  }
}
@media screen and (width: 768px) {
  .prev3 {
    top: 39rem;
  }

  .next3 {
    top: 39rem;
  }
}
footer {
  padding: 5rem 4.5rem;
  background-color: #1B1C1E;
  max-width: 1500px;
}
footer .footer__nav {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer .footer__nav .fnav__header {
  font-size: 4.4rem;
  color: #EE7D54;
  margin: 5rem 0;
  letter-spacing: 0.25rem;
}
footer .footer__nav ul {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}
footer .fnav__text--container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
footer .fnav__text--container .fnav__text {
  font-size: 2.2rem;
  color: #EE7D54;
  cursor: pointer;
}
footer .fnav__text--container .fnav__text:first-child {
  margin-right: 1rem;
}

@media screen and (max-width: 2560px) {
  footer {
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  footer .footer__nav .fnav__icons {
    width: 7rem;
    height: 7rem;
  }
}
.ab__body {
  background-color: #1B1C1E;
  overflow-x: hidden;
}

.ab__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  height: 100%;
  min-height: 100vh;
  background-color: #1B1C1E;
}
.ab__container .ab__container__header {
  font-size: 4.4rem;
  color: #EE7D54;
  margin: 5rem 0;
  letter-spacing: 0.25rem;
}
.ab__container .ab__container__body {
  width: 40ch;
  font-size: 2.2rem;
  color: #F5F5F5;
  letter-spacing: 0.125rem;
  line-height: 1.6;
  display: inline-block;
}
.ab__container .ab__container__body .showMore {
  display: none;
}
.ab__container .ab__container__body.show__more .showMore {
  display: contents;
}
.ab__container .ab__container__body.show__more .dots {
  display: none;
}
.ab__container .ab__container__extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.ab__container .ab__container__extra .ab__container__text {
  font-size: 1.5rem;
  color: #F5F5F5;
}
.ab__container .ab__container__extra #abc__icon {
  cursor: pointer;
}

.ab__feedback__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 35rem;
  box-shadow: 3px 3px 13px -2px rgba(100, 100, 100, 0.91);
}
.ab__feedback__card .ab__feedback__img {
  height: 20rem !important;
  width: 20rem !important;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.ab__feedback__card .ab__feedback__name {
  color: #00D296;
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: 0.125rem;
  margin-bottom: 3rem;
}
.ab__feedback__card .ab__feedback__message {
  color: #5E6065;
  font-size: 2.2rem;
  letter-spacing: 0.125rem;
  margin-bottom: 8rem;
}
.ab__feedback__card .ab__feedback__details {
  font-size: 2rem;
  color: #797878;
  letter-spacing: 0.125rem;
}

.ab__feedback__header {
  color: #EE7D54;
  font-size: 4.4rem;
  text-align: center;
  display: block;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.owl-prev {
  left: -30px;
}

.owl-next {
  right: -30px;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 35%;
}

.owl-prev span, .owl-next span {
  font-size: 80px;
  color: #EE7D54;
}
.owl-prev span:focus, .owl-next span:focus {
  background-color: #000 !important;
  outline: none !important;
}

.owl-next span:focus, .owl-prev span:focus {
  outline: none;
}

.container {
  padding: 2rem 3.25rem;
}

.owl-stage {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 2560px) {
  .ab__container {
    margin: 0 auto;
    min-height: auto;
  }
}
@media screen and (max-width: 1150px) {
  .dotstext {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .ab__container .ab__container__body {
    width: 30ch;
    margin: 0 auto;
  }
}
@media screen and (max-width: 350px) {
  .ab__container .ab__container__body {
    width: 25ch;
    margin: 0 auto;
  }
}