//Importing SASS files
@import './variables';
@import './base';
@import './components/navbar';
@import './components/jumbotron';
@import './components/aboutus';
@import './components/card';
@import './components/slider1';
@import './components/slider2';
@import './components/slider3';
@import './components/footer';